#splashSection { 
    /* The image used */
    background-image: url("../images/sleeping-woman-grayscale.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mockupSection {
    text-align: center;
}

#signupSection {
    text-align: center;
}

.signup-title {
    color: #222222;
    font-family: "Open Sans";
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 48px 0 24px 0;
}

.horizontal-break {
    background-color: #222222;
    height: 5px;
    width: 100px;
    margin: 20px auto 25px;
    display: block;
}

.mockup-image-container {

}

.mockup-image {
    width: 90%;
}

#howItWorksSection { 
    /* The image used */
    background-image: url("../images/brisbane-grayscale.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}