#splashSection { 
    /* The image used */
    background-image: url("../images/sleeping-woman-grayscale.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mockupSection {
    text-align: center;
}

#signupSection {

}

.signup-form {
    max-width: 800px;
    font-size: 16px
}

.signup-form-inner {
    margin: 0 10vw;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 2px lightgray;
}

.signup-text {

}

.signup-title {
    color: #222222;
    font-family: "Open Sans";
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 48px 0 24px 0;
    text-align: center;
}

.horizontal-break {
    background-color: #222222;
    height: 5px;
    width: 100px;
    margin: 20px auto 25px;
    display: block;
}

.mockup-image-container {

}

.mockup-image {
    width: 90%;
}

#howItWorksSection { 
    /* The image used */
    background-image: url("../images/brisbane-grayscale.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1#logo-h1 {
    text-align: center;
    font-weight: 350;
    font-size: 22px;
}

div#title-div {
    margin: auto;
    position: relative;
    z-index: 11;
    height: 100%;
    max-width: 100%;
    width: 750px;
}

h2#title-h2 {
    text-align: center;
    color: white;
    top: auto;
    bottom: 30%;
    left: 0%;
    position: absolute;
    z-index: 10;
    font-size: 40px;
    width: 100%;
}